<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/01_other_buttons" target="_blank">Target</a>
</p>

<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <a class="button primary-button">Primary</a>
</p>

<p>
  <a class="button secondary-button">Secondary</a>
</p>

<p>
  <a class="button success-button">Success</a>
</p>

<p>
  <a class="button danger-button">Danger</a>
</p>

<p>
  <a class="button warning-button">Warning</a>
</p>

<p>
  <a class="button info-button">Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a class="button primary-unob-button">Primary (unobtrusive)</a>
</p>

<p>
  <a class="button secondary-unob-button">Secondary (unobtrusive)</a>
</p>

<p>
  <a class="button success-unob-button">Success (unobtrusive)</a>
</p>

<p>
  <a class="button danger-unob-button">Danger (unobtrusive)</a>
</p>

<p>
  <a class="button warning-unob-button">Warning (unobtrusive)</a>
</p>

<p>
  <a class="button info-unob-button">Info (unobtrusive)</a>
</p>
